.supplierPublic__header {
  color: grey;
  font-size: 50px;
}

.supplierPublic__section {
  display: block;
  overflow: auto;
  padding: 20px 0;
}

.supplierPublic__container {
}

.supplierPublic__address {
  box-shadow: 0 24px 1px -24px gray;
}

.supplierPublic__label {
  display: block;
  color: grey;
  border-bottom: 1px solid grey;
  font-weight: 700;
}

.supplierPublic__value {
  font-weight: 500;
}
